{% extends 'dashboard/layout.html' %}

{% block body %}

        <!-- Sub Nav End -->
        <div class="sub-nav hidden-sm hidden-xs">
          <ul>
            <li><a href="#" class="heading">Dashboard</a></li>

          </ul>
          <div class="custom-search hidden-sm hidden-xs">
            <input type="text" class="search-query" placeholder="Search here ...">
            <i class="fa fa-search"></i>
          </div>
        </div>
        <!-- Sub Nav End -->
       <!-- Dashboard Wrapper Start -->
        <div class="dashboard-wrapper-lg">

          <!-- Row starts -->
          <div class="row">
          </div>
          <!-- Row ends -->

        </div>
{% endblock %}