<!DOCTYPE html>
<html>


<head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Blue Moon - Responsive Admin Dashboard" />
    <meta name="keywords" content="Notifications, Admin, Dashboard, Bootstrap3, Sass, transform, CSS3, HTML5, Web design, UI Design, Responsive Dashboard, Responsive Admin, Admin Theme, Best Admin UI, Bootstrap Theme, Wrapbootstrap, Bootstrap, bootstrap.gallery" />
    <meta name="author" content="Bootstrap Gallery" />
    <link rel="shortcut icon" href="/static/dashboard/img/favicon.ico">

    <link href="/static/dashboard/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/dashboard/css/new.css" rel="stylesheet">
    <link href="/static/dashboard/css/charts-graphs.css" rel="stylesheet">
    <!-- Datepicker CSS -->
    <link rel="stylesheet" type="text/css" href="/static/dashboard/css/datepicker.css">

    <link href="/static/dashboard/fonts/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/static/dashboard/js/html5shiv.js"></script>
      <script src="/static/dashboard/js/respond.min.js"></script>
    <![endif]-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','../../www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-40304444-1', 'iamsrinu.com');
      ga('send', 'pageview');

    </script>
  </head>

  <body>

    <!-- Header Start -->
    <header>
      <a href="index-2.html" class="logo">
        <img src="http://puu.sh/kcBJN/9d628b2846.png" alt="Logo"/>
      </a>
      <div class="pull-right">
      </div>
    </header>
    <!-- Header End -->

    <!-- Main Container start -->
    <div class="dashboard-container">

      <div class="container">
        <!-- Top Nav Start -->
        <div id='cssmenu'>
          <ul>
            <li class='active'>
              <a href='#'>
                <i class="fa fa-dashboard"></i>
                Dashboard
              </a>
            </li>
            <li>
              <a href="forms.html">
                <i class="fa fa-bar-chart-o"></i>
                Pool Stats
              </a>
            </li>
            <li class=''>
              <a href='#'><i class="fa fa-align-justify"></i>Get Started</a>
            </li>
            <li class=''>
              <a href='#'><i class="fa fa-flask"></i>User Stats</a>
            </li>
            <li class=''>
              <a href='#'><i class="fa fa-dashboard"></i>Top Workers</a>
            </li>
          </ul>
        </div>
        <!-- Top Nav End -->


          {% block body %}{% endblock %}

  <!-- Dashboard Wrapper End -->

        <footer>
          <p>© Bunkermining 2015</p>
        </footer>

      </div>
    </div>
    <!-- Main Container end -->

    <script src="/static/dashboard/js/jquery.js"></script>
    <script src="/static/dashboard/js/bootstrap.min.js"></script>
    <script src="/static/dashboard/js/jquery.scrollUp.js"></script>

    <!-- jQuery UI JS -->
    <script src="/static/dashboard/js/jquery-ui-v1.10.3.js"></script>

    <!-- Just Gage -->
    <script src="/static/dashboard/js/justgage/justgage.js"></script>
    <script src="/static/dashboard/js/justgage/raphael.2.1.0.min.js"></script>

    <!-- Flot Charts -->
    <script src="/static/dashboard/js/flot/jquery.flot.js"></script>
    <script src="/static/dashboard/js/flot/jquery.flot.orderBar.min.js"></script>
    <script src="/static/dashboard/js/flot/jquery.flot.stack.min.js"></script>
    <script src="/static/dashboard/js/flot/jquery.flot.pie.min.js"></script>
    <script src="/static/dashboard/js/flot/jquery.flot.tooltip.min.js"></script>
    <script src="/static/dashboard/js/flot/jquery.flot.resize.min.js"></script>

    <!-- Custom JS -->
    <script src="/static/dashboard/js/menu.js"></script>
    <script src="/static/dashboard/js/custom-index2.js"></script>

    <script type="text/javascript">
      //ScrollUp
      $(function () {
        $.scrollUp({
          scrollName: 'scrollUp', // Element ID
          topDistance: '300', // Distance from top before showing element (px)
          topSpeed: 300, // Speed back to top (ms)
          animation: 'fade', // Fade, slide, none
          animationInSpeed: 400, // Animation in speed (ms)
          animationOutSpeed: 400, // Animation out speed (ms)
          scrollText: 'Top', // Text for element
          activeOverlay: false, // Set CSS color to display scrollUp active point, e.g '#00FFFF'
        });
      });
    </script>

  </body>

</html>